In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\mutta\Documents\Project 6'
path

'C:\\Users\\mutta\\Documents\\Project 6'

In [3]:
join = os.path.join(path, 
                    '02 Data', 
                    'Prepared Data',
                    '01 CSV',
                    '01. Sourcing Open Data',
                    'GLOBAL_DATAFLOW_2000-2023 stunting -2SD.csv')

In [4]:
pd.options.display.float_format = '{:.2f}'.format


df = pd.read_csv(join, index_col = False, encoding= 'unicode_escape')
df.round(2)
df.head()

,Geographic area,Indicator,Sex,TIME_PERIOD,OBS_VALUE,Unit multiplier,Unit of measure,Observation Status,Observation confidentaility,LOWER_BOUND,...,WGTD_SAMPL_SIZE,OBS_FOOTNOTE,SERIES_FOOTNOTE,DATA_SOURCE,SOURCE_LINK,CUSTODIAN,Time period activity related to when the data are collected,REF_PERIOD,COVERAGE_TIME,Current age
0,Afghanistan,"Height-for-age <-2 SD (stunting), Modeled Esti...",Total,2000.00,54.90,Units,%,Modelled,Free,51.90,...,NaN,NaN,UNICEF/WHO/World Bank Joint Malnutrition Estim...,UNICEF/WHO/World Bank Joint Malnutrition Estim...,https://data.unicef.org/topic/nutrition/malnut...,UNICEF Division of Data Analysis Planning an...,Other,NaN,2000-2022,Under 5 years old
1,Afghanistan,"Height-for-age <-2 SD (stunting), Modeled Esti...",Total,2001.00,55.00,Units,%,Modelled,Free,52.20,...,NaN,NaN,UNICEF/WHO/World Bank Joint Malnutrition Estim...,UNICEF/WHO/World Bank Joint Malnutrition Estim...,https://data.unicef.org/topic/nutrition/malnut...,UNICEF Division of Data Analysis Planning an...,Other,NaN,2000-2022,Under 5 years old
2,Afghanistan,"Height-for-age <-2 SD (stunting), Modeled Esti...",Total,2002.00,54.70,Units,%,Modelled,Free,52.00,...,NaN,NaN,UNICEF/WHO/World Bank Joint Malnutrition Estim...,UNICEF/WHO/World Bank Joint Malnutrition Estim...,https://data.unicef.org/topic/nutrition/malnut...,UNICEF Division of Data Analysis Planning an...,Other,NaN,2000-2022,Under 5 years old
3,Afghanistan,"Height-for-age <-2 SD (stunting), Modeled Esti...",Total,2003.00,54.30,Units,%,Modelled,Free,51.60,...,NaN,NaN,UNICEF/WHO/World Bank Joint Malnutrition Estim...,UNICEF/WHO/World Bank Joint Malnutrition Estim...,https://data.unicef.org/topic/nutrition/malnut...,UNICEF Division of Data Analysis Planning an...,Other,NaN,2000-2022,Under 5 years old
4,Afghanistan,"Height-for-age <-2 SD (stunting), Modeled Esti...",Total,2004.00,53.80,Units,%,Modelled,Free,51.10,...,NaN,NaN,UNICEF/WHO/World Bank Joint Malnutrition Estim...,UNICEF/WHO/World Bank Joint Malnutrition Estim...,https://data.unicef.org/topic/nutrition/malnut...,UNICEF Division of Data Analysis Planning an...,Other,NaN,2000-2022,Under 5 years old

In [5]:
df.describe(include='all')

,Geographic area,Indicator,Sex,TIME_PERIOD,OBS_VALUE,Unit multiplier,Unit of measure,Observation Status,Observation confidentaility,LOWER_BOUND,...,WGTD_SAMPL_SIZE,OBS_FOOTNOTE,SERIES_FOOTNOTE,DATA_SOURCE,SOURCE_LINK,CUSTODIAN,Time period activity related to when the data are collected,REF_PERIOD,COVERAGE_TIME,Current age
count,3657,3657,3657,3657.00,3657.00,3657,3657,3657,3657,3657.00,...,0.00,247,3657,3657,3657,3657,3657,0.00,3657,3657
unique,159,1,1,NaN,NaN,1,1,1,1,NaN,...,NaN,3,1,1,1,1,1,NaN,1,1
top,Afghanistan,"Height-for-age <-2 SD (stunting), Modeled Esti...",Total,NaN,NaN,Units,%,Modelled,Free,NaN,...,NaN,The estimates for the year 2020 do not account...,UNICEF/WHO/World Bank Joint Malnutrition Estim...,UNICEF/WHO/World Bank Joint Malnutrition Estim...,https://data.unicef.org/topic/nutrition/malnut...,UNICEF Division of Data Analysis Planning an...,Other,NaN,2000-2022,Under 5 years old
freq,23,3657,3657,NaN,NaN,3657,3657,3657,3657,NaN,...,NaN,155,3657,3657,3657,3657,3657,NaN,3657,3657
mean,NaN,NaN,NaN,2011.00,21.40,NaN,NaN,NaN,NaN,19.49,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,6.63,14.69,NaN,NaN,NaN,NaN,14.23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,2000.00,0.90,NaN,NaN,NaN,NaN,0.70,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,2005.00,8.30,NaN,NaN,NaN,NaN,6.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,2011.00,18.70,NaN,NaN,NaN,NaN,16.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,2017.00,32.60,NaN,NaN,NaN,NaN,30.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,2022.00,63.10,NaN,NaN,NaN,NaN,60.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
print(df.columns)

Index(['Geographic area', 'Indicator', 'Sex', 'TIME_PERIOD', 'OBS_VALUE',
       'Unit multiplier', 'Unit of measure', 'Observation Status',
       'Observation confidentaility', 'LOWER_BOUND', 'UPPER_BOUND',
       'WGTD_SAMPL_SIZE', 'OBS_FOOTNOTE', 'SERIES_FOOTNOTE', 'DATA_SOURCE',
       'SOURCE_LINK', 'CUSTODIAN',
       'Time period activity related to when the data are collected',
       'REF_PERIOD', 'COVERAGE_TIME', 'Current age'],
      dtype='object')

In [7]:
dimension = df.shape
print('rows:',dimension[0])
print('column:',dimension[1])

rows: 3658
column: 21

In [8]:
print(df.dtypes)

Geographic area                                                 object
Indicator                                                       object
Sex                                                             object
TIME_PERIOD                                                    float64
OBS_VALUE                                                      float64
Unit multiplier                                                 object
Unit of measure                                                 object
Observation Status                                              object
Observation confidentaility                                     object
LOWER_BOUND                                                    float64
UPPER_BOUND                                                    float64
WGTD_SAMPL_SIZE                                                float64
OBS_FOOTNOTE                                                    object
SERIES_FOOTNOTE                                                 object
DATA_SOURCE                                                     object
SOURCE_LINK                                                     object
CUSTODIAN                                                       object
Time period activity related to when the data are collected     object
REF_PERIOD                                                     float64
COVERAGE_TIME                                                   object
Current age                                                     object
dtype: object

In [9]:
df.isnull().sum()

Geographic area                                                   1
Indicator                                                         1
Sex                                                               1
TIME_PERIOD                                                       1
OBS_VALUE                                                         1
Unit multiplier                                                   1
Unit of measure                                                   1
Observation Status                                                1
Observation confidentaility                                       1
LOWER_BOUND                                                       1
UPPER_BOUND                                                       1
WGTD_SAMPL_SIZE                                                3658
OBS_FOOTNOTE                                                   3411
SERIES_FOOTNOTE                                                   1
DATA_SOURCE                                                       1
SOURCE_LINK                                                       1
CUSTODIAN                                                         1
Time period activity related to when the data are collected       1
REF_PERIOD                                                     3658
COVERAGE_TIME                                                     1
Current age                                                       1
dtype: int64

In [10]:
def validate_mixed_type_check(df):
    for col in df.columns.tolist():
      weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
      if len (df[weird]) > 0:
        print ('Column', col, ' contains mixed types')
      else:
        print('Column', col ,'  contains same data types')
        
# 3. validate_mixed_type_check(df_orders)
validate_mixed_type_check(df)

Column Geographic area  contains mixed types
Column Indicator  contains mixed types
Column Sex  contains mixed types
Column TIME_PERIOD   contains same data types
Column OBS_VALUE   contains same data types
Column Unit multiplier  contains mixed types
Column Unit of measure  contains mixed types
Column Observation Status  contains mixed types
Column Observation confidentaility  contains mixed types
Column LOWER_BOUND   contains same data types
Column UPPER_BOUND   contains same data types
Column WGTD_SAMPL_SIZE   contains same data types
Column OBS_FOOTNOTE  contains mixed types
Column SERIES_FOOTNOTE  contains mixed types
Column DATA_SOURCE  contains mixed types
Column SOURCE_LINK  contains mixed types
Column CUSTODIAN  contains mixed types
Column Time period activity related to when the data are collected  contains mixed types
Column REF_PERIOD   contains same data types
Column COVERAGE_TIME  contains mixed types
Column Current age  contains mixed types

In [11]:
# Check for duplicate values
# df_dups = df[df.duplicated()]
# df_dups

In [12]:
# df.groupby(['Countries and areas']).count()

In [13]:
# df.groupby(['Year*']).count()

In [14]:
# df.groupby(['Countries and areas','Year*'])