In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\mutta\Documents\Project 6'
path

'C:\\Users\\mutta\\Documents\\Project 6'

In [3]:
join = os.path.join(path, 
                    '02 Data', 
                    'Prepared Data', 
                    '01 CSV',
                    '01. Sourcing Open Data',
                    'UNICEF_Global_Databases_Mortality.csv')

In [4]:
pd.options.display.float_format = '{:.2f}'.format


df = pd.read_csv(join, index_col = False, encoding= 'unicode_escape')

df.round(2)
df.head()

C:\Users\mutta\AppData\Local\Temp\ipykernel_2260\3122783834.py:4: DtypeWarning: Columns (4,5,10,11,14,16,17,19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(join, index_col = False, encoding= 'unicode_escape')

,DATAFLOW,REF_AREA:Geographic area,INDICATOR:Indicator,SEX:Sex,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,UNIT_MULTIPLIER:Unit multiplier,UNIT_MEASURE:Unit of measure,OBS_STATUS:Observation Status,OBS_CONF:Observation confidentaility,...,WGTD_SAMPL_SIZE:Weighted Sample Size,OBS_FOOTNOTE:Observation footnote,SERIES_FOOTNOTE:Series footnote,DATA_SOURCE:Data Source,SOURCE_LINK:Citation of or link to the data source,CUSTODIAN:Custodian,TIME_PERIOD_METHOD:Time period activity related to when the data are collected,REF_PERIOD:Reference Period,COVERAGE_TIME:The period of time for which data are provided,AGE:Current age
0,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,AFG: Afghanistan,CME_ARR_10T19: Annual Rate of Reduction in Mor...,_T: Total,2021,-0.4,NaN,PCNT: %,A: Normal value,NaN,...,NaN,NaN,NaN,UN_IGME,NaN,NaN,NaN,2000-2021,NaN,_T: Total
1,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,AFG: Afghanistan,CME_ARR_SBR: Annual rate of reduction in still...,_T: Total,2021,1.52530688963666,NaN,PCNT: %,A: Normal value,NaN,...,NaN,NaN,NaN,UN_IGME,NaN,NaN,NaN,2000-2021,NaN,_T: Total
2,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,AFG: Afghanistan,CME_ARR_U5MR: Annual rate of reduction in unde...,_T: Total,2020,4,NaN,PCNT: %,A: Normal value,NaN,...,NaN,NaN,NaN,UN_IGME,NaN,NaN,NaN,2000-2021,NaN,_T: Total
3,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,AFG: Afghanistan,CME_MRM0: Neonatal mortality rate,_T: Total,1987,78.9641805074777,NaN,"D_PER_1000_B: Deaths per 1,000 live births",A: Normal value,NaN,...,NaN,NaN,NaN,UN_IGME,NaN,NaN,NaN,NaN,NaN,_T: Total
4,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,AFG: Afghanistan,CME_MRM0: Neonatal mortality rate,_T: Total,1988,77.4089330495731,NaN,"D_PER_1000_B: Deaths per 1,000 live births",A: Normal value,NaN,...,NaN,NaN,NaN,UN_IGME,NaN,NaN,NaN,NaN,NaN,_T: Total

In [5]:
df.describe(include='all')

,DATAFLOW,REF_AREA:Geographic area,INDICATOR:Indicator,SEX:Sex,TIME_PERIOD:Time period,OBS_VALUE:Observation Value,UNIT_MULTIPLIER:Unit multiplier,UNIT_MEASURE:Unit of measure,OBS_STATUS:Observation Status,OBS_CONF:Observation confidentaility,...,WGTD_SAMPL_SIZE:Weighted Sample Size,OBS_FOOTNOTE:Observation footnote,SERIES_FOOTNOTE:Series footnote,DATA_SOURCE:Data Source,SOURCE_LINK:Citation of or link to the data source,CUSTODIAN:Custodian,TIME_PERIOD_METHOD:Time period activity related to when the data are collected,REF_PERIOD:Reference Period,COVERAGE_TIME:The period of time for which data are provided,AGE:Current age
count,1967354,1967354,1967354,1967354,1967354.00,1967354,1040160,1967354,1073371,439171,...,134793.00,90383,959444,1966488,978980,214345,245328,662,364037,1967354
unique,1,304,403,3,274.00,1003505,2,25,8,2,...,NaN,882,22,4947,72,6,3,1,406,70
top,UNICEF:GLOBAL_DATAFLOW(1.0): Cross-sector indi...,PER: Peru,DM_LIFE_EXP: Life expectancy,_T: Total,2019.00,0,0: Units,PCNT: %,A: Normal value,F: Free,...,NaN,Oedema data was not considered in the analysis,Data from 236 countries/areas with population ...,UN_IGME,https://population.un.org/wpp/,UNICEF Division of Data Analysis Planning an...,MOF: Middle of fieldwork,2000-2021,2000 to 2021,_T: Total
freq,1967354,12940,56388,965843,31304.00,34802,731381,731455,682080,438867,...,NaN,11066,505568,690459,619864,159596,145955,662,98710,1629882
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1818821948.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,57102539477.14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1377.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3018.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7711.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2431224381440.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
print(df.columns)

Index(['DATAFLOW', 'REF_AREA:Geographic area', 'INDICATOR:Indicator',
       'SEX:Sex', 'TIME_PERIOD:Time period', 'OBS_VALUE:Observation Value',
       'UNIT_MULTIPLIER:Unit multiplier', 'UNIT_MEASURE:Unit of measure',
       'OBS_STATUS:Observation Status', 'OBS_CONF:Observation confidentaility',
       'LOWER_BOUND:Lower Bound', 'UPPER_BOUND:Upper Bound',
       'WGTD_SAMPL_SIZE:Weighted Sample Size',
       'OBS_FOOTNOTE:Observation footnote', 'SERIES_FOOTNOTE:Series footnote',
       'DATA_SOURCE:Data Source',
       'SOURCE_LINK:Citation of or link to the data source',
       'CUSTODIAN:Custodian',
       'TIME_PERIOD_METHOD:Time period activity related to when the data are collected',
       'REF_PERIOD:Reference Period',
       'COVERAGE_TIME:The period of time for which data are provided',
       'AGE:Current age'],
      dtype='object')

In [7]:
dimension = df.shape
print('rows:',dimension[0])
print('column:',dimension[1])

rows: 1967354
column: 22

In [8]:
print(df.dtypes)

DATAFLOW                                                                           object
REF_AREA:Geographic area                                                           object
INDICATOR:Indicator                                                                object
SEX:Sex                                                                            object
TIME_PERIOD:Time period                                                            object
OBS_VALUE:Observation Value                                                        object
UNIT_MULTIPLIER:Unit multiplier                                                    object
UNIT_MEASURE:Unit of measure                                                       object
OBS_STATUS:Observation Status                                                      object
OBS_CONF:Observation confidentaility                                               object
LOWER_BOUND:Lower Bound                                                            object
UPPER_BOUND:Upper Bound                                                            object
WGTD_SAMPL_SIZE:Weighted Sample Size                                              float64
OBS_FOOTNOTE:Observation footnote                                                  object
SERIES_FOOTNOTE:Series footnote                                                    object
DATA_SOURCE:Data Source                                                            object
SOURCE_LINK:Citation of or link to the data source                                 object
CUSTODIAN:Custodian                                                                object
TIME_PERIOD_METHOD:Time period activity related to when the data are collected     object
REF_PERIOD:Reference Period                                                        object
COVERAGE_TIME:The period of time for which data are provided                       object
AGE:Current age                                                                    object
dtype: object